<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <h2>KONFLIKTHANTERING</h2>
        <p>
            Att ha meningsskiljaktigheter inom en organisation, en arbetsgrupp eller mellan medarbetare kan ofta vara utvecklande eftersom tankar
            och ideér kan brytas mot varandra och bana väg för nya perspektiv och nya möjligheter. Konflikter kan därför sägas vara konstruktiva
            så länge som de möjliggör utveckling och förändring, hos såväl organisation som individer.<br /><br />

            Ibland uppstår dock arbetsplatskonflikter som fördjupas, blir inflammerade och svårlösta. Sådana konflikter kan lätt få
            överspridningseffekter inom organisationen och leda till att förutsättningar för utvecklings- och förändringsarbete påverkas.
            Varaktiga arbetsplatskonflikter leder ofta till försämrad arbetsmiljö, som påverkar fler än de som är berörda av konfliktens kärna.<br /><br />

            Vi har lång erfarenhet av konflikthantering inom arbetsgrupper och mellan individer och arbetar utifrån ett systemteoretiskt perspektiv,
            med betoning på roll, funktion och sammanhang.
        </p>
    </div>
</div>