<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <h1>GRUPP / TEAM</h1>
        <p>
            Att arbeta i grupp eller team utgör den allra vanligaste arbetsformen inom de flesta organisationer, såväl offentliga som privata. 
            Arbetsgrupper uppstår dock inte av en slump men många gånger kan syftet med gruppen kännas otydligt.<br /><br />

            Stefan Söderfjäll definierar teamet,  i sin bok "To team or not to team", som<br /><br />
            "Ett team är en samling (två eller flera) individer som arbetar tillsammans och som uppfattar sig själva och uppfattas av andra som en
            tydligt avgränsad social enhet; som har ett tydligt och accepterat gemensamt syfte och mål och är ömsesidigt beroende av varandra för
            att kunna fullgöra detta syfte och uppnå målet/målen; och som regelbundet kommunicerar med varandra i syfte att anpassa beteenden
            och bli mer välfungerande."<br /><br />

            Det finns starkt forskningsstöd för att arbetsgrupper som arbetat med sitt samspel och samarbete är mer produktiva och effektiva än
            grupper som inte kommit lika långt i denna utveckling. Susan Wheelan, forskare i grupp-psykologi, har utifrån teorier kring gruppers
            utveckling undersökt hur gruppens utvecklingsfaser samspelar med dess effektivitet. Hon har funnit att gruppens effektivitet beror på hur
            medlemmarna kommunicerar med varandra, tolererar olikheter och löser problem i gruppen.<br /><br />

            Det välfungerande arbetsteamet förenas av ett gemensamt mål och av hur gruppen definierar vägen till målet.<br /><br />

            Mål: Vi vet vart vi ska.<br />
            Roll: Vi vet vem som gör vad.<br />
            Struktur: Vi vet hur vi gemensamt ska gå till väga.<br /><br />

            När vi arbetar med teamutveckling av gruppers effektivitet är det alltid gruppens mål och syfte som är utgångspunkten, men för att nå dit
            behöver roller och strukturer definieras och gruppens förmåga till kommunikation, problemlösning och flexibilitet tydliggöras.<br /><br />

            Vi har arbetat med grupputveckling i såväl små som stora grupper, med utbildningsinsatser eller genom processorienterade, riktade
            interventioner.<br /><br />

            Tillsammans med uppdragsgivaren skräddarsyr vi en insats för ett utvecklingsarbete inom gruppen/teamet, med fokus på uppgift, mål,
            roller och samspel.
        </p>
    </div>
</div>