<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("LEDARSKAPSUTVECKLING", "LeadershipDevelopment", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDNINGSGRUPP", "Management", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("URVAL", "Selection", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDARUTVECKLINGSPROGRAM", "LeadershipDevelopmentProgramme", "Company", null, new { @class = "underLink" })<br /> <br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <h2>
            LEDARUTVECKLING
        </h2>
        <p>
            En ledarsutvecklingsprocess ger möjlighet för ledaren att möta sig själv i sin ledarroll, utveckla förmågan att utöva ett effektivt ledarskap
            och få tid att tänka igenom beslut och vägval.<br /><br />

            Att göra en problemformulering och beskriva ett mål är centralt vid ledarutveckling och syftar till att tydliggöra beteenden som hindrar
            önskat resultat, och utveckla och stärka förmågor som leder till ett mer effektivt ledarskap. Som start och avslutning i en
            ledarutvecklingsprocess genomför vi därför ett trepartssamtal mellan överordnad chef, ledaren och psykolog.<br /><br />

            I trepartssamtalet går vi tillsammans igenom chefens bedömning av ledarens styrkor, svagheter och utvecklingsområden.<br /><br />
            I det inledande trepartssamtalet bestäms fokus för utvecklingsarbetet och en gemensam målbild formuleras, vilket lägger grunden för ledarens
            utvecklingsarbete i samarbete med psykologen.<br /><br />
            I samband med avslut genomförs ett sista trepartssamtal där både chef och ledare får ge
            sin bild av det aktuella läget och resonera kring fortsatt utveckling.
        </p>
    </div>
</div>