<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("LEDARSKAPSUTVECKLING", "LeadershipDevelopment", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDNINGSGRUPP", "Management", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("URVAL", "Selection", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDARUTVECKLINGSPROGRAM", "LeadershipDevelopmentProgramme", "Company", null, new { @class = "underLink" })<br /> <br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <p>
            <h1>LEDARSKAP</h1>
            Förväntningarna på en chef och ledare är många gånger stora – du ska vara målfokuserad, strategisk och drivande, samtidigt lyhörd,
            närvarande och socialt kompetent. Kunna vara uppgiftsorienterad – och samtidigt en visionär som ska kunna entusiasmera dina medarbetare.
            <br /><br />
            Ledarskapet utgår inte bara från de styrkor eller förmågor som ledaren själv har, utan utformas i ett sammanhang; såväl ett
            organisatoriskt sammanhang som i samspel mellan ledaren och medarbetarna.<br /><br />

            Som ledare och ansvarig för verksamhet och medarbetare kan man därför från tid till annan behöva utrymme och möjlighet att reflektera
            kring sin egen roll, och det sammanhang som man verkar i.
        </p>
    </div>
</div>