<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("LEDARSKAPSUTVECKLING", "LeadershipDevelopment", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDNINGSGRUPP", "Management", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("URVAL", "Selection", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDARUTVECKLINGSPROGRAM", "LeadershipDevelopmentProgramme", "Company", null, new { @class = "underLink" })<br /> <br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <p>
            <h1>LEDARUTVECKLINGSPROGRAM</h1>
            Vårt ledarutvecklingsprogram är vad det heter (!), ett program för att utveckla ledare. Ett gott ledarskap förutsätter att
            ledaren får möjlighet att reflektera kring och integrera sina erfarenheter, att dela detta med andra vidgar och fördjupar
            referensramen.<br /><br />

            Vårt program är upplagt i 4 moduler, två dagar per modul på internat och innehåller teorier och praktiska övningar som har sin
            utgångspunkt i aktuell forskning.<br />
            Under ledarutvecklingsprogrammet ges också möjligheter till handledning på egna case. <br />
            Programmet inleds och avslutas med trepartssamtal.<br /><br />

            <h3> Målet med programmet är:</h3><br />
            - att få fördjupad insikt om egna drivkrafter, styrkor och utvecklingsområden att förvalta och utveckla i rollen som ledare.<br />
            - att få fördjupad kunskap om grupp och team och ledarskapets betydelse för att utveckla gruppen.<br />
            - att få verktyg och arbetsmetoder att nyttja i ett operativt såväl som strategiskt ledarskap.<br /><br />

            <h3>Modul 1: Självledarskap</h3><br />
            Teori, praktiska övningar och handledning utifrån rollperspektivet. Analys av eget beteende och styrkor i ledarrollen bl.a. med hjälp av 360° test.<br /><br />

            <h3>Modul 2: Leda andra</h3><br />
            Teori, praktiska övningar och handledning kring grupputveckling, hur man skapar effektiva team och förändringsledning.<br /><br />

            <h3>Modul 3: Det kommunikativa ledarskapet</h3><br />
            Teori och övningar kring det kommunikativa ledarskapet, med fokus<br />
            på hur ett utvecklande ledarskap grundar sig i en god kommunikativ<br />
            förmåga. Modulen fokuserar på feedback, coaching samt det svåra samtalet och konflikthantering.<br /><br />

            <h3>Modul 4: Hållbart ledarskap/medarbetarskap</h3><br />
            Teori, praktiska övningar och handledning med fokus<br />
            på chefens och ledarens ansvar för den psykosociala arbetsmiljön.
        </p>
            </div>
</div>