<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("LEDARSKAPSUTVECKLING", "LeadershipDevelopment", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDNINGSGRUPP", "Management", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("URVAL", "Selection", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDARUTVECKLINGSPROGRAM", "LeadershipDevelopmentProgramme", "Company", null, new { @class = "underLink" })<br /> <br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <p>
            <h1>LEDNINGSGRUPP</h1>
            Förväntningarna på en ledningsgrupp överensstämmer ofta med förväntningarna på den individuella chefen och ledaren - gruppen ska
            vara målfokuserad, uppgiftsorienterad - "därför finns vi till!" - och strategisk.
            Det överordnade uppdraget för ledningsgruppen är att åstadkomma och arbeta för en gemensam målbild och riktning, och ta ett
            gemensamt ansvar för helheten, för verksamheten.<br /><br />

            Ledningsgruppens fungerande har stor betydelse för och inverkan på verksamhetens möjligheter till måluppfyllelse, förutsättningar för
            utveckling, rådande organisationskultur och i slutänden även på den generella arbetsmiljön.<br /><br />

            En ledningsgrupp kan under perioder utsättas för påfrestningar som påverkar förutsättningarna för att bedriva ett moget och effektivt ledarskap.<br />
            Det kan vara påfrestningar som påverkas av yttre faktorer – marknadsfaktorer, konjunkturberoende faktorer, beslut fattade av ledning
            högre upp i organisationen eller politiska beslut. Påfrestningarna inom en ledningsgrupp kan även vara interna och handla om
            konkurrens, revirtänkande och personkonflikter. Det är inte heller ovanligt med svårigheter i samspel mellan den som leder
            ledningsgruppen och gruppens övriga medlemmar.<br /><br />

            I sådana situationer är det lätt att det övergripande målet glöms bort och det gemensamma ansvaret för helheten sviktar –
            ledningsgruppen har tappat sitt fokus – ”därför finns vi till!”<br /><br />

            Vi har lång erfarenhet av arbete med ledningsgrupper; genom organisationspsykologens erfarenhet av förändringsarbete i
            ledningsgrupper och genom mångårig chefserfarenhet av att leda och delta i ledningsgruppens dagliga arbete.<br /><br />
            Tillsammans med uppdragsgivaren skräddarsyr vi en insats för ett utvecklingsarbete inom ledningsgruppen, med fokus på uppgift, roller<br />
            och samspel.
        </p>
    </div>
</div>