<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <h2>ORGANISATION</h2>
        <p>
            Förändringsarbete inom organisationer börjar inte sällan med ett uppdrag att ändra verksamhetens innehåll, strukturer eller inriktning -
            förändringar som kan innebära etablering av nya verksamheter, sammanslagning eller nedläggning av verksamheter.<br /><br />

            Organisatoriska förändringar leder ofta till nya förväntningar på ledare och medarbetare som kan innebära krav på såväl anpassning som
            utveckling hos individen.<br /><br />

            Lotta har lång erfarenhet av offentlig verksamhet, och har arbetat med såväl nyetablering av verksamheter som verksamhetsförändringar
            som inneburit reformering av uppdrag eller nedläggning av enheter. Lotta har även arbetat med övergripande samverkansfrågor mellan
            olika aktörer vid organisatoriska förändringar.<br /><br />

            Vi erbjuder konsultativt stöd vid verksamhetsförändringar med fokus på såväl strategi, organisation som medarbetarperspektiv.
        </p>
    </div>
</div>