<div class="container1">
    <div class="leftContainer">
        @Html.ActionLink("FÖRETAG", "ForCompany", "Home", null, new { @class = "link" })<br />
        <hr />
        @Html.ActionLink("LEDARSKAP", "Leadership", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("LEDARSKAPSUTVECKLING", "LeadershipDevelopment", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDNINGSGRUPP", "Management", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("URVAL", "Selection", "Company", null, new { @class = "underLink" })<br />
        @Html.ActionLink("LEDARUTVECKLINGSPROGRAM", "LeadershipDevelopmentProgramme", "Company", null, new { @class = "underLink" })<br /> <br />
        @Html.ActionLink("GRUPP/TEAM", "GroupAndTeam", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("ORGANISATION", "Organization", "Company", null, new { @class = "link" })<br />
        @Html.ActionLink("KONFLIKTHANTERING", "Conflicts", "Company", null, new { @class = "link" })<br />
    </div>
    <div class="middleContainer">
        <p>
            <h1>URVAL OCH PERSONBEDÖMNING</h1>
            Att anställa och introducera en ny chef och ledare är tidskrävande och kostsamt. Om den nyanställde ledaren inte visar sig svara upp mot
            ställda förväntningar kan det medföra kostnader långt större än de faktiska anställningskostnaderna.<br /><br />

            Det är lätt att fatta tycke för en person under en rekryteringsintervju, men hur vet man att man har funnit den lämpligaste kandidaten?<br /><br />

            Personlighetsdrag och egenskaper påverkar en persons förmåga att prestera i en specifik roll.<br />
            Det finns forskningsstöd för att ett antal personlighetsdrag och egenskaper har samband med framgång i ledarroller; de viktigaste av dessa
            är generell begåvning, personlig mognad, målinriktning och förmåga att hantera stress.<br /><br />

            En personbedömning innebär att kandidaten genomgår psykologiska test och en djupintervju där egenskaper som är viktiga för den
            specifika rollen kan beskrivas och ge värdefull information om kandidatens möjlighet att leva upp till verksamhetens förväntningar på
            rollen. <br /><br />

            En djupintervju i samband med test kan även ge kandidaten möjlighet att reflektera över sina styrkor, svagheter och
            utvecklingsområden. Urvalsprocessens utrymme för självreflektion hos kandidaten och återkoppling från psykolog kan även öka
            kandidatens förutsättningar att motsvara krav och förväntningar i en tänkt roll.<br /><br />

            Vi erbjuder urval med personbedömning och second opinion vid såväl extern som intern rekrytering.
        </p>
    </div>
</div>